.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
    color:white;
    font-weight:bold;
    margin: 0;
    padding: $l-size;
    text-align: center;
}
.widget-header {
    background: $off-black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin:0;
}