$off-black: #20222b;
$off-purple: #a5afd7;
$body-color: #333745;
$blue: rgb(192, 192, 253);
$light-blue: #464b5e;
$button-red: rgb(228, 218, 192);
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;